{% extends "base.html" %}

{% block content %}
  <h2>프로필 수정</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ user_form.username.label_tag }}
      {{ user_form.username }}
      {{ user_form.username.errors }}
    </div>
    <div class="form-group">
      {{ profile_form.gender.label_tag }}
      {{ profile_form.gender }}
      {{ profile_form.gender.errors }}
    </div>
    <div class="form-group">
      {{ profile_form.birth_date.label_tag }}
      {{ profile_form.birth_date }}
      {{ profile_form.birth_date.errors }}
    </div>
    <div class="form-group">
      {{ profile_form.has_car.label_tag }}
      {{ profile_form.has_car }}
      {{ profile_form.has_car.errors }}
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
  </form>
{% endblock %}
